<!DOCTYPE html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This website is developed to fetch weather information, which can be fetched by providing location or by sharing current location. The website is developed using Mapbox and Weatherstack API.
        </p>
    </div>
    {{>footer}}
</body>
</html>